@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h1 class="display-4">Добро пожаловать</h1>
    <div class="d-grid gap-3 mt-5 col-6 mx-auto">
        <a class="btn btn-outline-dark btn-lg" type="button" asp-area="" asp-controller="Weather" asp-action="Upload">Загрузить архивы</a>
        <a class="btn btn-outline-dark btn-lg" type="button" asp-area="" asp-controller="Weather" asp-action="Index">Посмотреть архивы</a>
    </div>
</div>
