<div class="text-center pt-5">
   <h1 class="display-4 mt-2">Кажется Вы не туда попали...</h1>
   <h5>Такой страницы не существует</h5>
   <div class="d-grid gap-3 mt-3 col-6 mx-auto">
      <a class="btn btn-outline-dark btn-lg" type="button" asp-area="" asp-controller="Home" asp-action="Index">На главную страницу</a>
   </div>
</div>
